body{
    background-color: lightgray;
}
h1{
    text-align: center;
}
.caja1{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;            
    border: 10px solid orange;
    padding: 2%;
    background-color:  rgb(247, 210, 141);
    width: 40%;
}
